## Ejemplo 3: Funciones vectorizadas y agregaciones con `DataFrames`

### 1. Objetivos:
    - Aprender cómo usar Funciones vectorizadas y agregaciones aplicadas a `DataFrames` completos
 
### 2. Desarrollo:

In [5]:
import pandas as pd
import numpy as np

Tenemos los siguientes datos y su correspondiente DataFrame:

In [2]:
datos = {
    'precio': [34, 54, 223, 78, 56, 12, 34],
    'cantidad_en_stock': [3, 6, 10, 2, 5, 45, 2],
    'productos_vendidos': [3, 45, 23, 76, 24, 6, 2]
}

df = pd.DataFrame(datos,
    index=["Pokemaster", "Cegatron", "Pikame Mucho",
           "Lazarillo de Tormes", "Stevie Wonder",
           "Needle", "El AyMeDuele"])

In [19]:
df

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster               34                  3                   3
Cegatron                 54                  6                  45
Pikame Mucho            223                 10                  23
Lazarillo de Tormes      78                  2                  76
Stevie Wonder            56                  5                  24
Needle                   12                 45                   6
El AyMeDuele             34                  2                   2

In [22]:
df.drop(columns=["precio", "productos_vendidos"] )

                     cantidad_en_stock
Pokemaster                           3
Cegatron                             6
Pikame Mucho                        10
Lazarillo de Tormes                  2
Stevie Wonder                        5
Needle                              45
El AyMeDuele                         2

In [24]:
df.drop(index="Cegatron")

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster               34                  3                   3
Pikame Mucho            223                 10                  23
Lazarillo de Tormes      78                  2                  76
Stevie Wonder            56                  5                  24
Needle                   12                 45                   6
El AyMeDuele             34                  2                   2

Si aplicamos operaciones aritméticas a nuestro `DataFrame` la operación se aplicará elemento por elemento a nuestro `DataFrame` completo, por ejemplo multiplica por 100 todos los valores del DataFrame:

In [4]:
df * 100

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster             3400                300                 300
Cegatron               5400                600                4500
Pikame Mucho          22300               1000                2300
Lazarillo de Tormes    7800                200                7600
Stevie Wonder          5600                500                2400
Needle                 1200               4500                 600
El AyMeDuele           3400                200                 200

Ahora suma 100 y divide por 2:

In [ ]:
...

Eleva al cuadrado todos los valores del DataFrame

In [ ]:
...

También podemos aplicar funciones vectorizadas con el mismo resultado:

In [ ]:
import numpy as np

Eleva al cuadrado usando la función vectorizadas de NumPy `np.power(-dataframe-,-potencia-)`:

In [ ]:
...

O se puede obtener la raíz cuadrada usando la función vectorizadas de NumPy `np.sqrt(-dataframe-)`:

In [6]:
np.sqrt(df)

                        precio  cantidad_en_stock  productos_vendidos
Pokemaster            5.830952           1.732051            1.732051
Cegatron              7.348469           2.449490            6.708204
Pikame Mucho         14.933185           3.162278            4.795832
Lazarillo de Tormes   8.831761           1.414214            8.717798
Stevie Wonder         7.483315           2.236068            4.898979
Needle                3.464102           6.708204            2.449490
El AyMeDuele          5.830952           1.414214            1.414214

In [9]:
df.productos_vendidos * 100

Pokemaster              300
Cegatron               4500
Pikame Mucho           2300
Lazarillo de Tormes    7600
Stevie Wonder          2400
Needle                  600
El AyMeDuele            200
Name: productos_vendidos, dtype: int64

También se puede aplicar la siguiente fórmula a todos los elementos `sen(x) + 100`:

In [ ]:
...

Si usamos agregaciones, las agregaciones se hacen de manera automática por columna, por ejemplo `dataframe.sum()`:

In [13]:
df.sum(axis=0)

precio                491
cantidad_en_stock      73
productos_vendidos    179
dtype: int64

Ahora guardemos el resultado en la variable `suma_columnas`:

In [14]:
suma_columnas = df.sum()

Y si aplicamos nuevamente la suma al resultado anterior que es una Serie de Pandas:

In [15]:
suma_columnas.sum()

743

O se podría aplicar de forma secuencial `dataframe.sum().sum()`:

In [16]:
df.sum().sum()

743

In [17]:
df.sum(axis=None)

/tmp/ipykernel_1719419/1369781367.py:1: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  df.sum(axis=None)

precio                491
cantidad_en_stock      73
productos_vendidos    179
dtype: int64

Aunque podemos cambiar ese comportamiento usando `dataframe.sum(axis=1)` para hacerlo por filas:

In [18]:
df.sum(axis=1)

Pokemaster              40
Cegatron               105
Pikame Mucho           256
Lazarillo de Tormes    156
Stevie Wonder           85
Needle                  63
El AyMeDuele            38
dtype: int64

Todas las demás agregaciones funcionan también. El default (o `axis=0`) es hacerlo por columna, pero todas pueden funcionar por fila usando `axis=1`, por ejemplo se puede obtener el mínimo de cada columna usando:

    dataframe.min(axis=0)
    
o por filas haciendo:

    dataframe.min(axis=1)

In [ ]:
...

In [ ]:
...

---
---

## Reto 3: Agregaciones con `DataFrames`

### 1. Objetivos:
    - Aplicar agregaciones a `DataFrames` completos para obtener un análisis estadístico
 
### 2. Desarrollo:

#### a) Análisis estadístico con agregaciones

Eres el Analista de Datos de EyePoker Inc. Te han pedido que realices ciertas agregaciones con un conjunto de datos para poder realizar un análisis estadístico básico de los datos que hay dentro.

El conjunto de datos es el siguiente:

In [ ]:
import pandas as pd

In [ ]:
datos = {
    'producto': ["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele", "El Desretinador", "Sacamel Ojocles", "Desojado", "Maribel Buenas Noches", "Cíclope", "El Cuatro Ojos"],
    'precio': [12000, 5500, 2350, 4800, 8900, 6640, 1280, 1040, 23100, 16700, 15000, 13400, 19600],
    'cantidad_en_stock': [34, 54, 36, 78, 56, 12, 34, 4, 0, 18, 45, 23, 5],
    'cantidad_vendidos': [120, 34, 59, 9, 15, 51, 103, 72, 39, 23, 10, 62, 59]
}

df = pd.DataFrame(datos)

In [ ]:
df

Tu tarea es muy simple. Usando métodos de agregación, asigna las variables de la siguiente celda con los resultados de agregar nuestro `DataFrame` **por columna** usando cada una de las medidas estadísticas. Algunas de los métodos ya los conoces. Los que no, [puedes encontrarlos en este link](https://www.interactivechaos.com/manual/tutorial-de-pandas/dataframes-metodos-de-agregacion-y-estadistica). Lo que queremos obtener es una `Serie` con los nombres de las columnas como índice y las agregaciones por columna como valores. Una de las columnas que tenemos en el `DataFrame` no se presta para realizar análisis numéricos, elimínala antes de realizar tu análisis y asigna el resultado a la variable `df_droppped`.

**Sólo** utiliza funciones de agregación para tu análisis. En este caso no requieres hacer ninguna operación aritmética.

In [ ]:
# Eliminando columna
df_dropped = ...

df_dropped

In [ ]:
# El valor mínimo de cada columna
...

mins

In [ ]:
# El valor máximo de cada columna
...

maxs

In [ ]:
# El promedio por columna
...

media

In [ ]:
# La mediana por columna (El valor que se encuentra a la mitad de la secuencia ordenada de valores)
...

mediana

In [ ]:
# La desviación estándar por columna
...

stds

Y la celda de verificación ...

In [ ]:
def resumen_estadistico(df, df_dropped, mins, maxs, means, medians, stds):
    
    import pandas as pd
    f = lambda x: "".join([chr(int(x[i:i+2], 16)) for i in range(0, len(x), 2)])
    datos_1 = ["64662E64726F7028636F6C756D6E733D5B2770726F647563746F275D29", "64665F64726F707065642E6D696E28617869733D3029", "64665F64726F707065642E6D617828617869733D3029", "64665F64726F707065642E6D65616E28617869733D3029", "64665F64726F707065642E6D656469616E28617869733D3029", "64665F64726F707065642E73746428617869733D3029"]
    error = False
    
    df_eva = eval(f(datos_1[0]))
    if not df_eva.equals(df_dropped):
        print(f'La columna no-numérica no fue eliminada correctamente... Por favor inténtalo de nuevo')
        error = True
        
    df_eva = eval(f(datos_1[1]))
    if not df_eva.equals(mins):
        print(f'El valor mínimo no fue computado adecuadamente... Por favor inténtalo de nuevo')
        error = True
        
    df_eva = eval(f(datos_1[2]))
    if not df_eva.equals(maxs):
        print(f'El valor máximo no fue computado adecuadamente... Por favor inténtalo de nuevo')
        error = True
        
    df_eva = eval(f(datos_1[3]))
    if not df_eva.equals(means):
        print(f'El promedio no fue computado adecuadamente... Por favor inténtalo de nuevo')
        error = True
    
    df_eva = eval(f(datos_1[4]))
    if not df_eva.equals(medians):
        print(f'La mediana no fue computada adecuadamente... Por favor inténtalo de nuevo')
        error = True
        
    df_eva = eval(f(datos_1[5]))
    if not df_eva.equals(stds):
        print(f'La desviación estándar no fue computada adecuadamente... Por favor inténtalo de nuevo')
        error = True
    
    if not error:
        rango = maxs - mins
        mins.name = 'Min'
        maxs.name = 'Max'
        rango.name = 'Rango'
        means.name = 'Promedio'
        medians.name = 'Mediana'
        stds.name = 'Std'
        
        resumen = pd.concat([mins, maxs, rango, means, medians, stds], axis=1)
        print(resumen)
        
resumen_estadistico(df, df_dropped, mins, maxs, media, mediana, stds)