## Ejemplo 4: `apply`

### 1. Objetivos:
    - Usar `apply` para aplicar funciones a `Series` y `DataFrames`
 
---
    
### 2. Desarrollo:

In [ ]:
import pandas as pd
import numpy as np

Para éste ejemplo también usamos el archivo `new_york_times_bestsellers-dirty.csv` porque vamos a aplicar una tranformación diferente a los mismos datos:

In [ ]:
df = pd.read_csv('../../Datasets/new_york_times_bestsellers-dirty.csv', index_col=0)
df.head(3)

Podemos aplicar funciones con uno o más parámetros a nuestras `Series` con el método `apply`, así que vamos a convertir la fecha de la columna `published_date.numberLong` que está dado en milisegundos en formato Epoc o Timestamp a sólo tener el año de publicación, recuerda usar:

`pd.to_datetime(-valor-, unit="ms")`

In [ ]:
def anio_de_publicacion(valor):
    """ obtener el año desde la fecha epoc """
    pass

In [ ]:
df['published_date.numberLong'].apply(anio_de_publicacion)

O esta otra, obtener la semanas en listas, pero en porcentaje en base al máximo, en este caso necesitamos pasar un valor adiciona a la función y se realiza de la forma:

`df[-columna-].apply(-función-, args=(-máximo de la columna-, ...) )`

primero creamos nuestra función:

In [ ]:
def semanas_en_porcentaje(valor, maximo):
    """ Regresar el porcentaje en relación a maximo """
    pass

Y lo aplicamos a la columna `weeks_on_list.numberInt`, pero también necesitamos el valor máximo de esta columna, que lo podemos obtener con `serie.max()`, entonces la función `apply()` queda como sigue:

In [ ]:
df['weeks_on_list.numberInt'].apply(...)

---
---

## Reto 4: Apply

### 1. Objetivos:
    - Practicar el uso del método `apply` para obtener columnas nuevas a partir de columnas existentes
    
### 2. Desarrollo:

#### a) Obteniendo columnas nuevas a partir de existentes

Vamos a trabajar con el dataset que guardaste de tu Reto anterior. Esta vez tu Reto es el siguiente:

1. Crea una función que reciba un valor (en este caso el diámetro en metros de un objeto espacial) y regrese la proporción de ese valor en comparación con el diámetro de la Tierra. El diámetro de la Tierra es de 12,742 km. Así que el diámetro de un objeto que mida 10000 metros corresponde a un valor de 0.00078 en proporción al diámetro de la Tierra.
2. Usa la columna 'estimated_diameter.meters.estimated_diameter_max', aplícale la función usando `apply` y crea una nueva columna llamada `proportion_of_max_diameter_to_earth` que deberá de ser de tipo `float64` y deberá contener valores entre 0 y 1 ya que es una proporción.
3. Asigna el resultado a la variable `df_reto_4`.
4. Guarda tu conjunto de datos en un archivo .csv.

In [2]:
import pandas as pd

df_reto_4 = pd.read_csv("near_earth_objects-jan_feb_1995-reto_3.csv", index_col=0)
df_reto_4.head(3)

,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute
0,0,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811
1,1,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629
2,0,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917

In [4]:
def proporcion_vs_tierra(valor):
    """ Regresa la proporción de valor en metros con respecto a la Tierra """
    proporcion = (valor/1000)/12742
    
    return proporcion

In [5]:
df_reto_4["proportion_of_max_diameter_to_earth"] = \
    df_reto_4['estimated_diameter.meters.estimated_diameter_max'].apply(proporcion_vs_tierra)
df_reto_4["proportion_of_max_diameter_to_earth"]

0      0.000085
1      0.000017
2      0.000008
3      0.000004
4      0.000028
         ...
296    0.000085
297    0.000077
298    0.000077
299    0.000028
300    0.000074
Name: proportion_of_max_diameter_to_earth, Length: 301, dtype: float64

In [9]:
df_reto_4["proportion_of_max_diameter_to_earth"].sort_values(ascending=False)

123    5.114491e-04
244    2.563317e-04
145    2.447949e-04
13     2.232556e-04
111    2.036115e-04
           ...
193    9.306843e-07
275    8.105921e-07
199    5.355529e-07
119    3.879738e-07
33     2.337773e-07
Name: proportion_of_max_diameter_to_earth, Length: 301, dtype: float64

In [ ]:
0.0005114491

In [6]:
# guarda en el archivo objetos_cercanos_4.csv
df_reto_4.to_csv("near_earth_objects-jan_feb_1995-reto_4.csv")

La celda de validación nuevamente te ayudará a darte pautas para saber si tus resultados van por buen camino!

In [7]:
def revisar_aplicacion(df):
    
    assert 'proportion_of_max_diameter_to_earth' in df, 'No existe una columna llamada "proportion_of_max_diameter_to_earth" en el DataFrame'
    assert df['proportion_of_max_diameter_to_earth'].equals(df['estimated_diameter.meters.estimated_diameter_max'] / 12742000), 'La transformacion no fue realizada adecuadamente'
    
    print(f'La transformación y creación de una nueva columna fue realizada exitosamente!')

revisar_aplicacion(df_reto_4)

AssertionError: La transformacion no fue realizada adecuadamente