## Ejemplo 6: Sort

### 1. Objetivos:
    - Aprender a usar `sort_values` para reordenar nuestros datos
 
### 2. Desarrollo:

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../../Datasets/new_york_times_bestsellers-dirty.csv', index_col=0)
df.head(3)

Finalmente veamos como podemos ordenar los elementos de una DataFrame, por ejemplo, queremos ordenar nuestras entradas empezando por el libro de mayor precio hasta el libro de menor precio, así que se ordena en base a la columna `price.numberDouble` de manera descendente usando la siguiente forma de la función `sort_values()`:

`dataframe.sort_values(-columna-, ascending=False)`

In [ ]:
...

Si ordenamos en base a `published_date.numberLong` podemos también obtener la lista desde la publicación más antigua hasta la publicación más reciente:

In [ ]:
df.sort_values("published_date.numberLong")

Pero como seguramente no lo crees aún porque estamos usando la columna del Timestamp, vamos a convertir la fechas a datetime con el método:

`pd.to_datetime(-dataframe[columna]-, unit="ms")`

y aplicarlo desde el DataFrame original, ordenamos nuevamente y obtenemos un DataFrame sólo con las columnas `amazon_product_url` y `published_date.numberLong` para simplificar el resultado:

In [ ]:
df["published_date.numberLong"] = ...

df.head()

In [ ]:
df_ordenado = ...

df_ordenado[[ ... ]]

**NOTA PYTHONESCA:** Para trabajar con fechas se pueden usar los tipos de datos `datetime` o `int` (en alguna unidad de segundos), el ordenamiento u otra operación se realizará de forma correcta, pero procesar fechas de tipo `object` o `str` podríamos obtener resultados inesperados.

Por ejemplo, podríamos primero filtrar para sólo tener los libros de la editorial que tiene más libros como 'best sellers' usando la columna `publisher` y después ordenarlos del que pasó más días en la lista de 'best sellers' al que pasó menos días en la lista usando la columna `weeks_on_list.numberInt`.

Primero encontramos la editorial con más bestsellers con el método:

`dataframe[-columna-].value_counts()`

In [ ]:
...

Filtra sólo los que perteneces a la editorial encontrada (Putnam?) usando la aplicación de filtros con:

`dataframe[ dataframe[-columna-] op -valor- ]`

In [ ]:
df_1 =  ...
df_1.head(3)

Ordenando en base a la cantidad de días como bestsellers usando:

`dataframe.sort_values(-columna-, ascending=False)`

In [ ]:
...

---
---

## Reto 6: Sort

### 1. Objetivos:
    - Practicar el uso de `sort_values` para obtener datos específicos
    
### 2. Desarrollo:

#### a) Reordenamiento para hallazgo de valores

Vamos a trabajar sobre el dataset que guardaste en la sesión anterior. Tu Reto consiste en lo siguiente:

1. Usa `sort_values` y `loc` para obtener el valor de la velocidad en kilómetros por segundo más lenta de todos los objetos que tenemos en el dataset y asígnalo a `velocidad_en_kilometros_por_segundo_de_objeto_mas_lento`.
2. Usa `sort_values` y `loc` para obtener el valor del diámetro más grande medido que existe en nuestro dataset y asígnalo a `medida_de_diametro_mas_grande`

In [2]:
import pandas as pd

df_reto_6 = pd.read_csv("near_earth_objects-jan_feb_1995-reto_4.csv", index_col=0)
df_reto_6.head(3)

,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,0,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811,0.000085
1,1,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629,0.000017
2,0,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917,0.000008

In [7]:
df_reto_6.sort_values("relative_velocity.kilometers_per_second").reset_index(drop=True).loc[0, "relative_velocity.kilometers_per_second"]

0.681436673

In [8]:
velocidad_de_objeto_mas_lento = df_reto_6.sort_values("relative_velocity.kilometers_per_second").reset_index(drop=True).loc[0, "relative_velocity.kilometers_per_second"]
velocidad_de_objeto_mas_lento

0.681436673

In [12]:
df_reto_6.sort_values("relative_velocity.kilometers_per_second").iloc[0]["relative_velocity.kilometers_per_second"]

0.681436673

In [26]:
df_reto_6_2 = df_reto_6.sort_values("estimated_diameter.meters.estimated_diameter_max", ascending=False)
df_reto_6_2.iloc[0, 2]

6516.883821679

In [27]:
medida_de_diametro_mas_grande = df_reto_6_2.iloc[0, 2]
medida_de_diametro_mas_grande

6516.883821679

En este caso la celda de valición si comprueba si tus resultados son correctos, adelante ...

In [28]:
def corroborar_hallazgos(velocidad_en_kilometros_por_segundo_de_objeto_mas_lento, medida_de_diametro_mas_grande):
    
    assert velocidad_en_kilometros_por_segundo_de_objeto_mas_lento == 0.681436673, 'Esa no es la velocidad en kilómetros por segundo del objeto más lento'
    assert medida_de_diametro_mas_grande == 6516.883821679, 'Ese no es el diámetro más grande medido en nuestro dataset'
    
    print('Tus hallazgos son correctos. ¡Bien hecho!')
    
corroborar_hallazgos(velocidad_de_objeto_mas_lento, medida_de_diametro_mas_grande)

Tus hallazgos son correctos. ¡Bien hecho!

In [30]:
df_reto_6_2.sort_index()

,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,0,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811,0.000085
1,1,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629,0.000017
2,0,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917,0.000008
3,0,22.108281,49.435619,1995-01-07,1995-01-07 02:45:00,Earth,4.998691,17995.288355,Near Earth asteroid orbits similar to that of ...,3843493,(2019 PY),299.921473,0.000004
4,0,160.160338,358.129403,1995-01-08,1995-01-08 12:46:00,Earth,7.465089,26874.321682,An asteroid orbit contained entirely within th...,3765015,(2016 WR48),447.905361,0.000028
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,0,483.676488,1081.533507,1995-02-21,1995-02-21 17:29:00,Earth,15.474761,55709.139812,Near Earth asteroid orbits similar to that of ...,2311554,311554 (2006 BQ147),928.485664,0.000085
297,0,441.118200,986.370281,1995-02-21,1995-02-21 04:17:00,Earth,16.180392,58249.410194,Near Earth asteroid orbits similar to that of ...,2267136,267136 (2000 EF104),970.823503,0.000077
298,0,441.118200,986.370281,1995-02-21,1995-02-21 15:44:00,Earth,15.106140,54382.104639,Near Earth asteroid orbits which cross the Ear...,3360486,(2006 WE4),906.368411,0.000077
299,0,160.160338,358.129403,1995-02-21,1995-02-21 12:08:00,Earth,20.343173,73235.423517,An asteroid orbit contained entirely within th...,3656919,(2014 BG3),1220.590392,0.000028
300,0,421.264611,941.976306,1995-02-21,1995-02-21 12:54:00,Earth,29.732426,107036.733058,Near Earth asteroid orbits similar to that of ...,3803762,(2018 GY4),1783.945551,0.000074