## Ejemplo 6: Automatizando peticiones

### 1. Objetivos:
    - Usar todo lo que aprendimos para automatizar peticiones al API
    - Guardar nuestros resultados en un archivo tipo .csv
 
---
    
### 2. Desarrollo:

Veamos cómo usar todo lo que aprendimos para automatizar el proceso de realizar múltiples peticiones a la API, reunirlas en un `DataFrame` y guardarlo en un .csv:

In [1]:
import pandas as pd
import requests

In [2]:
url = 'http://api.nasa.gov/neo/rest/v1/neo/browse?page=0&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5'

Obtener 1 página de datos del API.

In [3]:
respuesta = requests.get(url)
if respuesta.status_code == 200:
    print(respuesta.text[:180])
else:
    print("Error al obtener la página 0")

{"links":{"next":"http://api.nasa.gov/neo/rest/v1/neo/browse?page=1&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5","self":"http://api.nasa.gov/neo/rest/v1/neo/browse?pag

In [7]:
datos = respuesta.json()
datos.keys()
asteroides = datos["near_earth_objects"]
asteroides[0].keys()

dict_keys(['links', 'id', 'neo_reference_id', 'name', 'name_limited', 'designation', 'nasa_jpl_url', 'absolute_magnitude_h', 'estimated_diameter', 'is_potentially_hazardous_asteroid', 'close_approach_data', 'orbital_data', 'is_sentry_object'])

In [8]:
df_pag_0 = pd.json_normalize(asteroides)
df_pag_0

,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,...,orbital_data.perihelion_distance,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range
0,2000433,2000433,433 Eros (A898 PA),Eros,433,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000433,10.41,False,"[{'close_approach_date': '1900-12-27', 'close_...",False,...,1.133253673250917,178.9077640079513,1.782981151356617,2460445.663729495556,222.7628947251168,.5597773600412238,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
1,2000719,2000719,719 Albert (A911 TB),Albert,719,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000719,15.59,False,"[{'close_approach_date': '1909-08-21', 'close_...",False,...,1.194321237174303,156.2302183725104,4.078499484532715,2459955.999514783378,56.29428204183947,.2302420054175519,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
2,2000887,2000887,887 Alinda (A918 AA),Alinda,887,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000887,13.88,False,"[{'close_approach_date': '1910-01-04', 'close_...",False,...,1.060879051972014,350.4736961936459,3.883698936442366,2460678.677100750642,238.7605395112643,.2535450992914844,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
3,2001036,2001036,1036 Ganymed (A924 UB),Ganymed,1036,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001036,9.26,False,"[{'close_approach_date': '1910-02-25', 'close_...",False,...,1.24510011940967,132.4774027721871,4.08651816616544,2460569.610667584365,276.4171662679224,.226443831274461,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
4,2001221,2001221,1221 Amor (1932 EA1),Amor,1221,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001221,17.37,False,"[{'close_approach_date': '1900-03-08', 'close_...",False,...,1.082992870755625,26.64829543646065,2.755167126498775,2459867.288200050473,123.533523225551,.3707357399835873,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
5,2001566,2001566,1566 Icarus (1949 MA),Icarus,1566,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001566,16.59,True,"[{'close_approach_date': '1902-06-11', 'close_...",False,...,.1866259313071519,31.43790437302617,1.969530562040674,2460008.961551393165,168.6493279381757,.8804985587220497,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
6,2001580,2001580,1580 Betulia (1950 KA),Betulia,1580,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001580,14.69,False,"[{'close_approach_date': '1911-05-07', 'close_...",False,...,1.127241117241443,159.5887174193308,3.267776617179313,2460735.558970899653,198.113822113195,.3025576369920647,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
7,2001620,2001620,1620 Geographos (1951 RA),Geographos,1620,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001620,15.27,True,"[{'close_approach_date': '1901-08-23', 'close_...",False,...,.8277373254034206,276.9535910814548,1.663634359201871,2460192.258189262839,5.842704450326863,.7089102912764915,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
8,2001627,2001627,1627 Ivar (1929 SH),Ivar,1627,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001627,12.85,False,"[{'close_approach_date': '1901-07-11', 'close_...",False,...,1.124766625574738,167.8142101557517,2.602278858422502,2460196.690059331312,1.476115160616382,.3874378340712469,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
9,2001685,2001685,1685 Toro (1948 OA),Toro,1685,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001685,14.33,False,"[{'close_approach_date': '1900-08-02', 'close_...",False,...,.7711747216033923,127.2363667792187,1.96383902667164,2460281.909570955504,309.825244753669,.6163250175308634,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
10,2001862,2001862,1862 Apollo (1932 HA),Apollo,1862,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001862,16.10,True,"[{'close_approach_date': '1905-10-06', 'close_...",False,...,.6473172777695326,286.0512492188622,2.294226856031198,2460143.002003048861,31.77157392326832,.5525683607772859,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
11,2001863,2001863,1863 Antinous (1948 EA),Antinous,1863,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001863,15.44,False,"[{'close_approach_date': '1907-10-11', 'close_...",False,...,.8907714145892793,268.099121788842,3.629776038668379,2460000.175201829365,58.1028228461584,.2900430869106224,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
12,2001864,2001864,1864 Daedalus (1971 FA),Daedalus,1864,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001864,14.88,False,"[{'close_approach_date': '1902-11-17', 'close_...",False,...,.5633077641028147,325.6674842699191,2.35843693686171,2459894.122631998011,171.0182077483232,.5581946501584044,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
13,2001865,2001865,1865 Cerberus (1971 UA),Cerberus,1865,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001865,16.79,False,"[{'close_approach_date': '1900-05-20', 'close_...",False,...,.5756882769961479,325.2963018753475,1.584159996837144,2460226.574917475699,337.0999123561118,.8782419988569738,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
14,2001866,2001866,1866 Sisyphus (1972 XA),Sisyphus,1866,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001866,12.55,False,"[{'close_approach_date': '1912-12-09', 'close_...",False,...,.8745415509160455,293.1099293469126,2.912953838915247,2460628.618852921303,198.0856833766931,.3781994544703453,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
15,2001915,2001915,1915 Quetzalcoatl (1953 EA),Quetzalcoatl,1915,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001915,18.05,False,"[{'close_approach_date': '1906-03-06', 'close_...",False,...,1.093174971132236,347.7925015731058,3.994366169933707,2460911.629221012685,187.2429853114446,.2429333651098466,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
16,2001916,2001916,1916 Boreas (1953 RA),Boreas,1916,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001916,14.95,False,"[{'close_approach_date': '1905-08-25', 'close_...",False,...,1.250583697143456,335.8883711832686,3.293876646581827,2459627.316888156549,164.9373362296848,.2877567967751515,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
17,2001917,2001917,1917 Cuyo (1968 AA),Cuyo,1917,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001917,14.40,False,"[{'close_approach_date': '1907-10-29', 'close_...",False,...,1.062613722240857,194.5472553221507,3.236452401147489,2460488.860278652947,269.8172828023509,.3127432031170544,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
18,2001943,2001943,1943 Anteros (1973 EC),Anteros,1943,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001943,15.71,False,"[{'close_approach_date': '1908-04-11', 'close_...",False,...,1.064444308893064,338.410634549746,1.79683501489242,2459923.537264601854,159.5254661557681,.5759816963334197,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
19,2001980,2001980,1980 Tezcatlipoca (1950 LA),Tezcatlipoca,1980,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001980,13.87,False,"[{'close_approach_date': '1921-07-08', 'close_...",False,...,1.086151471465766,115.4929239693822,2.333152197122414,2460520.949623791505,218.7129605008606,.4409024976452,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU

Obtener 10 páginas de datos del API.

In [27]:
def obtener_df_de_url(url):
    """ Descarga una página de 20 objetos usando la URL y crea un DataFrame """
    respuesta = requests.get(url)
    if respuesta.status_code == 200:
        datos = respuesta.json()
        asteroides = datos["near_earth_objects"]
        return pd.json_normalize(asteroides), datos["links"]["next"]
    else:
        return pd.DataFrame(), None

In [12]:
url = 'http://api.nasa.gov/neo/rest/v1/neo/browse?page=0&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj'
print(obtener_df_de_url(url))

None

In [13]:
datos.keys()

dict_keys(['links', 'page', 'near_earth_objects'])

In [15]:
datos["links"]["next"]

'http://api.nasa.gov/neo/rest/v1/neo/browse?page=1&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5'

In [28]:
lista_dfs = []
url = 'http://api.nasa.gov/neo/rest/v1/neo/browse?page=0&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5'
for i in range(10):
    df_pag, url_sig = obtener_df_de_url(url)
    if not df_pag.empty:
        lista_dfs.append(df_pag)
        print(url)
        url = url_sig
    else:
        print("Error al descargar la url", url)
print( len(lista_dfs) )

http://api.nasa.gov/neo/rest/v1/neo/browse?page=0&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5
http://api.nasa.gov/neo/rest/v1/neo/browse?page=1&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5
http://api.nasa.gov/neo/rest/v1/neo/browse?page=2&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5
http://api.nasa.gov/neo/rest/v1/neo/browse?page=3&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5
http://api.nasa.gov/neo/rest/v1/neo/browse?page=4&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5
http://api.nasa.gov/neo/rest/v1/neo/browse?page=5&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5
http://api.nasa.gov/neo/rest/v1/neo/browse?page=6&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5
http://api.nasa.gov/neo/rest/v1/neo/browse?page=7&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5
http://api.nasa.gov/neo/rest/v1/neo/browse?page=8&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5
http://api.nasa.gov/neo/rest/v1/neo/browse?page=9&size=20&api_key=EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5
10

Valiando la cantidad de diccionarios obtenidos:

In [26]:
df_vacio = pd.DataFrame()
print(df_vacio.empty)

True

Validando el tipo de dato del elemento 0 de la lista:

In [ ]:
...

Normalizar y crea los dataframes usando `map` o listas de compresión:

In [ ]:
dfs = ...

Valida el tipo de dato del elemento 0:

In [ ]:
...

Explora el inicio del dataframe del elemento 0:

In [ ]:
...

Concatena los dataframes en un sólo dataframe y reinicia índices (por alguna buena razón hemos creado una lista de dataframes ¿cierto?):

In [29]:
df = pd.concat(lista_dfs)
df

,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,...,orbital_data.perihelion_distance,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range
0,2000433,2000433,433 Eros (A898 PA),Eros,433,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000433,10.41,False,"[{'close_approach_date': '1900-12-27', 'close_...",False,...,1.133253673250917,178.9077640079513,1.782981151356617,2460445.663729495556,222.7628947251168,.5597773600412238,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
1,2000719,2000719,719 Albert (A911 TB),Albert,719,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000719,15.59,False,"[{'close_approach_date': '1909-08-21', 'close_...",False,...,1.194321237174303,156.2302183725104,4.078499484532715,2459955.999514783378,56.29428204183947,.2302420054175519,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
2,2000887,2000887,887 Alinda (A918 AA),Alinda,887,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000887,13.88,False,"[{'close_approach_date': '1910-01-04', 'close_...",False,...,1.060879051972014,350.4736961936459,3.883698936442366,2460678.677100750642,238.7605395112643,.2535450992914844,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
3,2001036,2001036,1036 Ganymed (A924 UB),Ganymed,1036,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001036,9.26,False,"[{'close_approach_date': '1910-02-25', 'close_...",False,...,1.24510011940967,132.4774027721871,4.08651816616544,2460569.610667584365,276.4171662679224,.226443831274461,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
4,2001221,2001221,1221 Amor (1932 EA1),Amor,1221,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001221,17.37,False,"[{'close_approach_date': '1900-03-08', 'close_...",False,...,1.082992870755625,26.64829543646065,2.755167126498775,2459867.288200050473,123.533523225551,.3707357399835873,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,2017511,2017511,17511 (1992 QN),NaN,17511,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2017511,17.32,False,"[{'close_approach_date': '1900-12-11', 'close_...",False,...,.7627000927960583,202.4163999923455,1.616547568708912,2460112.182565597681,67.08663909279157,.7596081062226794,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
16,2018106,2018106,18106 Blume (2000 NX3),Blume,18106,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018106,17.85,False,"[{'close_approach_date': '1904-08-28', 'close_...",False,...,1.192659802705792,235.0092234744351,3.695489800544094,2460164.313520701731,9.33423358897074,.2579481002291736,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
17,2018109,2018109,18109 (2000 NG11),NaN,18109,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018109,17.19,False,"[{'close_approach_date': '1902-10-30', 'close_...",False,...,1.188845885226913,319.2846984655613,2.572862373637362,2460293.116866008877,324.6115547656675,.3820950412092398,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
18,2018172,2018172,18172 (2000 QL7),NaN,18172,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018172,15.71,False,"[{'close_approach_date': '1913-11-01', 'close_...",False,...,1.185411956681623,100.677873359878,3.664520331690156,2460208.109644675708,358.0138596581042,.2610030331949834,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
19,2018736,2018736,18736 (1998 NU),NaN,18736,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018736,15.99,False,"[{'close_approach_date': '1918-04-01', 'close_...",False,...,1.196643647251822,222.9426625779298,3.503273206750015,2459870.933525938557,90.16891225590561,.2735985585690823,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU

Comprobemos la cantidad de objetos en el dataframe final, 10 páginas con 20 objetos cada una:

In [31]:
df_1 = df.reset_index(drop=True)
df_1

,id,neo_reference_id,name,name_limited,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,...,orbital_data.perihelion_distance,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range
0,2000433,2000433,433 Eros (A898 PA),Eros,433,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000433,10.41,False,"[{'close_approach_date': '1900-12-27', 'close_...",False,...,1.133253673250917,178.9077640079513,1.782981151356617,2460445.663729495556,222.7628947251168,.5597773600412238,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
1,2000719,2000719,719 Albert (A911 TB),Albert,719,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000719,15.59,False,"[{'close_approach_date': '1909-08-21', 'close_...",False,...,1.194321237174303,156.2302183725104,4.078499484532715,2459955.999514783378,56.29428204183947,.2302420054175519,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
2,2000887,2000887,887 Alinda (A918 AA),Alinda,887,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2000887,13.88,False,"[{'close_approach_date': '1910-01-04', 'close_...",False,...,1.060879051972014,350.4736961936459,3.883698936442366,2460678.677100750642,238.7605395112643,.2535450992914844,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
3,2001036,2001036,1036 Ganymed (A924 UB),Ganymed,1036,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001036,9.26,False,"[{'close_approach_date': '1910-02-25', 'close_...",False,...,1.24510011940967,132.4774027721871,4.08651816616544,2460569.610667584365,276.4171662679224,.226443831274461,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
4,2001221,2001221,1221 Amor (1932 EA1),Amor,1221,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2001221,17.37,False,"[{'close_approach_date': '1900-03-08', 'close_...",False,...,1.082992870755625,26.64829543646065,2.755167126498775,2459867.288200050473,123.533523225551,.3707357399835873,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2017511,2017511,17511 (1992 QN),NaN,17511,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2017511,17.32,False,"[{'close_approach_date': '1900-12-11', 'close_...",False,...,.7627000927960583,202.4163999923455,1.616547568708912,2460112.182565597681,67.08663909279157,.7596081062226794,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
196,2018106,2018106,18106 Blume (2000 NX3),Blume,18106,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018106,17.85,False,"[{'close_approach_date': '1904-08-28', 'close_...",False,...,1.192659802705792,235.0092234744351,3.695489800544094,2460164.313520701731,9.33423358897074,.2579481002291736,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
197,2018109,2018109,18109 (2000 NG11),NaN,18109,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018109,17.19,False,"[{'close_approach_date': '1902-10-30', 'close_...",False,...,1.188845885226913,319.2846984655613,2.572862373637362,2460293.116866008877,324.6115547656675,.3820950412092398,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
198,2018172,2018172,18172 (2000 QL7),NaN,18172,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018172,15.71,False,"[{'close_approach_date': '1913-11-01', 'close_...",False,...,1.185411956681623,100.677873359878,3.664520331690156,2460208.109644675708,358.0138596581042,.2610030331949834,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
199,2018736,2018736,18736 (1998 NU),NaN,18736,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=2018736,15.99,False,"[{'close_approach_date': '1918-04-01', 'close_...",False,...,1.196643647251822,222.9426625779298,3.503273206750015,2459870.933525938557,90.16891225590561,.2735985585690823,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU

Guarda tu dataframe en el archivo `objetos_tierra_nasa.csv`:

In [32]:
df_1.to_csv("objetos_tierra_nasa.csv")

---
---

## Reto 6: Automatizando peticiones

### 1. Objetivos:
    - Automatizar la petición de datos a la API de la NASA por fechas.
 
---
    
### 2. Desarrollo:

### a) Automatizando peticiones

En el primer Reto realizaste una petición a la API de la NASA para pedir 5 datos de la hoja #100. Ahora, vamos a automatizar el proceso de realizar peticiones a la API para obtener una cantidad bastante mayor de datos.

Vamos a obtener ahora los datos por fechas, así que tendrás que ir a la página de la [api de la NASA](https://api.nasa.gov/), para revisar cómo es posible realizar peticiones por fecha. Queremos obtener los **dos primeros meses (Enero y Febrero) del año 1995**. Observa que la API sólo permite peticiones por fecha en rangos de 7 días.

Tu reto tiene los siguientes pasos:

1. Revisa la documentación de la API de la NASA para entender cómo realizar peticiones por fecha.
2. Realiza una primera petición de prueba para entender el formato de los datos que obtienes de regreso (cómo extraemos los datos que necesitamos y qué estructura tienen).
2. Escribe el código necesario para automatizar las peticiones a la API y obtener los meses de Enero y Febrero del año 1995.
3. Almacena los datos de cada petición y luego usa esos datos para crear `DataFrames`.
4. Concatena verticalmente tus `DataFrames` para obtener un `DataFrame` final que contenga todos los datos de tus peticiones. Cada fila tiene que corresponder a un objeto espacial.
5. Guarda tu `DataFrame` con el nombre de `near_earth_objects-january_february_1995-raw.csv`.

> **Nota**: En este momento no te preocupes por explorar o limpiar tu dataset. Eso lo haremos en la siguiente sesión. Lo que sí tienes que asegurarte es de normalizar tus datos antes de convertirlos en `DataFrame`.

¡Mucha suerte!