## Ejemplo 1: Map

### 1. Objetivos:
    - Entender cómo funciona la función `map` y verla aplicada en ejemplos para después poder reproducir su uso
 
---
    
### 2. Desarrollo:

Muchas veces vamos a querer aplicar funciones a cada uno de los elementos en una `lista`. Esto es un procedimiento muy común en la ciencia de datos y existen varias formas de aplicar operaciones "elemento por elemento" a una `lista` y las veremos a continuación.

Primero necesitamos una `lista` de números y en este caso la creamos de forma directa, pero podríamos haber usado la función `range(valor_inicial, valor_final)`, ya la usaremos más adelante.

In [1]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ahora tenemos que pensar qué operaciones o transformaciones queremos aplicar a cada uno de los elementos de la lista.

Digamos que queremos multiplicarlos por 10 cada uno de los elementos de la lista, así que una forma **artesanal** de resolverlo sería tomando elemento a elemento, veamos como

In [2]:
numeros_por_10 = []
# multiplica elemento a elemento y agregalo a la nueva lista, si elemento a elemento!
numeros_por_10.append(numeros[0] * 10)
numeros_por_10.append(numeros[1] * 10)
numeros_por_10.append(numeros[2] * 10)
numeros_por_10.append(numeros[3] * 10)

numeros_por_10

[10, 20, 30, 40]

Ahora veamos la forma **clásica** (usando ciclos for) como se resolvería con cualquier lenguaje de programación (o más o menos):

In [3]:
numeros_por_10 = []
for n in numeros: # n = 1, 2, ..., 10
    numeros_por_10.append( n * 10 )
numeros_por_10

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

Finalmente usando la función:

    map(funcion, lista)

Donde:

`funcion` es el nombre de una función que realiza la operación, en este caso multiplica por 10 a un sólo elemento.

`lista` es la lista de elementos a aplicar la operación.

Es importante notar que `map()` construye y regresa una nueva lista, por lo que la lista original se mantiene intacta.

Entonces en la siguiente celda vamos a crear la función y ejecutamos la celda:

In [4]:
def por_10(valor):
    return valor * 10

Ahora aplicamos la función usando `map()`:

In [8]:
list(map(por_10, numeros))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

¿Qué pasa? `map()` no regresa una lista, pero queremos una lista, así que aplicamos la función `list(objeto)` al resultado de `map()`

In [ ]:
...

¿Por qué estamos agregando esa función `list`? Como viste en el Prework, `list` nos ayuda a convertir el resultado de `map` en una lista común y corriente.

Con `map()` podemos examinar el resultado sin necesidad de asígnar una nueva variable, claro, los resultados se pierden, así que ahora guardemos los resultados:

In [9]:
numeros_por_10 = list(map(por_10, numeros))
numeros_por_10

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

También existe la forma **Pythonesca** y es usando un concepto llamado **listas de compresión** (o ¿podría llamarse notación de conjuntos?) y se realiza de la siguiente forma:

    [-aplicar operacion a x- for x in conjunto]

In [11]:
[ n * 10 for n in numeros]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

O si la operación o transformación es muy compleja, también se puede usar la función usada en `map()` de la forma:

    [-operacion(x)- for x in conjunto]

In [12]:
[ por_10(n) for n in numeros]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

¿Un respiro? Nooooo!

Veamos otro ejemplo, convirtiendo la lista de números en cadenas con formato agregando la unidad de segundos `seg` haciendo uso de una función y `map()`:

In [15]:
def en_cadenas_con_segundos(entero):
    # return str(entero) + " seg"
    return f"{entero} s"

list(map(en_cadenas_con_segundos, numeros))

['1 s', '2 s', '3 s', '4 s', '5 s', '6 s', '7 s', '8 s', '9 s', '10 s']

Y si queremos convertir en cero todos los números que son menores a 5:

In [ ]:
def convertir_en_0_si_ma_5(valor):
    pass

list( map(convertir_en_0_si_ma_5, numeros) )

Nos ponemos más *rudos*, queremos convertir en cero todos los números que son menores a m:

In [21]:
def convertir_en_0_si_me_m(valor, m):
    if valor < m:
        return 0
    else:
        return valor

# list(map(convertir_en_0_si_me_m, numeros))

Upsss! `map()` no nos deja pasarle otro valor a nuestra función de conversión, se puede usar un truco, pero lo veremos más adelante, así que por el momento lo hacemos usando **listas de compresión** y la función creada anteriormente de la forma:

    [-función aplicada a x- for x in conjunto]
    
donde `-función-` en éste caso si podemos darle el valor de x y m puede ser 5 u otro límite.

Entonces veamos como quedaría nuestra lista de compresión usando la función de transformación:

In [19]:
[ convertir_en_0_si_me_m(n, 6) for n in numeros ]

[0, 0, 0, 0, 0, 6, 7, 8, 9, 10]

## ¿Hás llegad@ viv@ hasta aquí? Felicidadez!

---
---
## Reto 1: Map

### 1. Objetivos:
    - Practicar el uso de `map` para transformar los datos en una `lista`
 
### 2. Desarrollo:

#### a) Proporción a porcentajes

Tenemos una lista que contiene proporciones:

In [ ]:
proporciones = [0.45, 0.2, 0.78, 0.4, 0.77, 0.9, 0.4, 0.5, 0.67, 0.24, 0.07]

Queremos convertir esta lista en una lista de `porcentajes`, donde las proporciones hayan sido convertidas a porcentajes. Termina la función `proporcion_a_porcentajes` y después utiliza `map` para convertir `proporciones` y asignar la lista transformada a `porcentajes`:

In [ ]:
def proporcion_a_porcentajes(valor):
    pass

porcentajes =

Corre después la siguiente celda para obtener una representación en `string`. No importa si no entiendes por completo qué está pasando en la siguiente celda. Más adelante en el módulo aprenderemos a hacer esto y más.

In [ ]:
def imprime(proporciones, porcentajes):
    print('== Proporciones y su equivalencia en porcentajes ==')
    cadenas = [f"- {i} equivale a el {j:.0f}%" for i, j in zip(proporciones, porcentajes)]
    print("\n".join(cadenas))
    print('-' * 51)
        
imprime(proporciones, porcentajes)

#### b) Strings a números

Tenemos una `lista` con strings que representan valores númericos:

In [ ]:
numeros_string = [
    "3", "7", "45", "89", "12", "9", "5", "89", "78", "87", "44", "45", "26", "84", "98",
    "46", "99", "84"]

Para poder realizar algunos cálculos, necesitamos que estas cadenas sean convertidas a enteros. Escribe la función `en_entero` y aplicala a lista guardando el resultado en la variable `numeros`:

In [ ]:
def en_entero(valor):
    pass    

numeros =

Ahora ejecuta la siguiente celda y observa algunos valores estadísticos

In [ ]:
def imprimir_analisis_estadistico(datos):
    titulo = "== Análisis estadístico de los datos recibidos =="
    print(titulo)
    print('-' * len(titulo))
    print(f'Valor mínimo:     {min(datos):>3}')
    print(f'Valor máximo:     {max(datos):>3}')
    print(f'Rango de valores: {max(datos) - min(datos):>3}')
    print(f'Promedio:         {sum(datos) / len(datos):>3}')
    print('-' * len(titulo))

imprimir_analisis_estadistico(numeros)

#### c) Ingresos con formato

Recuerda la lista de ingresos del tema de listas de la Sesión 2, bueno hay un archivo llamado `ventas.py` que ya tiene una variable llamada `ingresos` y que puedes acceder a ella como se muestra a continuación:

In [20]:
import ventas

ventas.ingresos

[23613.3220016323,
 16748.3031429707,
 16584.3838123815,
 18009.7564873118,
 13189.5125661809,
 18537.9543119903,
 14553.0653491856,
 18225.2947535868,
 15930.6588022569,
 18474.7363448092,
 13554.4701253944,
 16213.5044058355,
 16111.1528143134,
 17625.0236529209,
 14968.2188031998,
 18221.849496707,
 17230.2421526306,
 18742.0433405474,
 19083.6630292448,
 17967.7942571412,
 16673.1041701619,
 16700.4265551564,
 19398.6793430791,
 17234.6186274932,
 13452.5504392637,
 20346.5094557155,
 18741.4291860601,
 13717.4357689342,
 20271.9520995866,
 12497.1457546176,
 20064.7972917191,
 17038.7682566921,
 17034.1795739783,
 16895.2608248342,
 16259.5460198768,
 17202.6251732073,
 14356.7056795415,
 17691.2849303458,
 19099.4363140031,
 19720.4213975179,
 19295.5463273516,
 18258.5689446692,
 19640.5763210474,
 13347.7147675999,
 19273.1771232625,
 15433.5282070074,
 16795.5356175422,
 19411.5915666894,
 17661.0865048256,
 16535.3088743482,
 17089.4834365877,
 19292.09108422,
 19794.8189736176,
 17457.9836186363,
 20600.7194821846,
 18079.3406900316,
 14783.6878488429,
 15504.0960555321,
 19721.0155795015,
 10381.1388828158]

La variable `ventas.ingresos` es una lista con los valores de las ventas de tipo float o números decimales tu **reto** consiste en obtener una lista de cadenas donde cada valor se represente de la forma `$ 12345.67 M.N.` (si el formato para representar moneda cambia en tu región ajústalo). Imprime la lista resultante que deberá ser similar a la siguiente:

```
['$23613.32 M.N.',
 '$16748.30 M.N.',
 '$16584.38 M.N.',
 '$18009.76 M.N.',
 '$13189.51 M.N.',
 '$18537.95 M.N.',
 '$14553.07 M.N.',
 '$18225.29 M.N.',
...
```

Si no recuerda como aplicar formato a números con decimales (floats) recuerda que puedes consultar el sitio https://pyformat.info y no olvides aplicar la función `map()`.

In [23]:
list(map(lambda n: f"${n} M.N.", ventas.ingresos))

['$23613.3220016323 M.N.',
 '$16748.3031429707 M.N.',
 '$16584.3838123815 M.N.',
 '$18009.7564873118 M.N.',
 '$13189.5125661809 M.N.',
 '$18537.9543119903 M.N.',
 '$14553.0653491856 M.N.',
 '$18225.2947535868 M.N.',
 '$15930.6588022569 M.N.',
 '$18474.7363448092 M.N.',
 '$13554.4701253944 M.N.',
 '$16213.5044058355 M.N.',
 '$16111.1528143134 M.N.',
 '$17625.0236529209 M.N.',
 '$14968.2188031998 M.N.',
 '$18221.849496707 M.N.',
 '$17230.2421526306 M.N.',
 '$18742.0433405474 M.N.',
 '$19083.6630292448 M.N.',
 '$17967.7942571412 M.N.',
 '$16673.1041701619 M.N.',
 '$16700.4265551564 M.N.',
 '$19398.6793430791 M.N.',
 '$17234.6186274932 M.N.',
 '$13452.5504392637 M.N.',
 '$20346.5094557155 M.N.',
 '$18741.4291860601 M.N.',
 '$13717.4357689342 M.N.',
 '$20271.9520995866 M.N.',
 '$12497.1457546176 M.N.',
 '$20064.7972917191 M.N.',
 '$17038.7682566921 M.N.',
 '$17034.1795739783 M.N.',
 '$16895.2608248342 M.N.',
 '$16259.5460198768 M.N.',
 '$17202.6251732073 M.N.',
 '$14356.7056795415 M.N.',
 '$17691.2849303458 M.N.',
 '$19099.4363140031 M.N.',
 '$19720.4213975179 M.N.',
 '$19295.5463273516 M.N.',
 '$18258.5689446692 M.N.',
 '$19640.5763210474 M.N.',
 '$13347.7147675999 M.N.',
 '$19273.1771232625 M.N.',
 '$15433.5282070074 M.N.',
 '$16795.5356175422 M.N.',
 '$19411.5915666894 M.N.',
 '$17661.0865048256 M.N.',
 '$16535.3088743482 M.N.',
 '$17089.4834365877 M.N.',
 '$19292.09108422 M.N.',
 '$19794.8189736176 M.N.',
 '$17457.9836186363 M.N.',
 '$20600.7194821846 M.N.',
 '$18079.3406900316 M.N.',
 '$14783.6878488429 M.N.',
 '$15504.0960555321 M.N.',
 '$19721.0155795015 M.N.',
 '$10381.1388828158 M.N.']

In [24]:
def format_money_gt(entero):
    # return f'{entero}s'
    return f'Q. {round(entero,2)}'
list(map(format_money_gt, ventas.ingresos))

['Q. 23613.32',
 'Q. 16748.3',
 'Q. 16584.38',
 'Q. 18009.76',
 'Q. 13189.51',
 'Q. 18537.95',
 'Q. 14553.07',
 'Q. 18225.29',
 'Q. 15930.66',
 'Q. 18474.74',
 'Q. 13554.47',
 'Q. 16213.5',
 'Q. 16111.15',
 'Q. 17625.02',
 'Q. 14968.22',
 'Q. 18221.85',
 'Q. 17230.24',
 'Q. 18742.04',
 'Q. 19083.66',
 'Q. 17967.79',
 'Q. 16673.1',
 'Q. 16700.43',
 'Q. 19398.68',
 'Q. 17234.62',
 'Q. 13452.55',
 'Q. 20346.51',
 'Q. 18741.43',
 'Q. 13717.44',
 'Q. 20271.95',
 'Q. 12497.15',
 'Q. 20064.8',
 'Q. 17038.77',
 'Q. 17034.18',
 'Q. 16895.26',
 'Q. 16259.55',
 'Q. 17202.63',
 'Q. 14356.71',
 'Q. 17691.28',
 'Q. 19099.44',
 'Q. 19720.42',
 'Q. 19295.55',
 'Q. 18258.57',
 'Q. 19640.58',
 'Q. 13347.71',
 'Q. 19273.18',
 'Q. 15433.53',
 'Q. 16795.54',
 'Q. 19411.59',
 'Q. 17661.09',
 'Q. 16535.31',
 'Q. 17089.48',
 'Q. 19292.09',
 'Q. 19794.82',
 'Q. 17457.98',
 'Q. 20600.72',
 'Q. 18079.34',
 'Q. 14783.69',
 'Q. 15504.1',
 'Q. 19721.02',
 'Q. 10381.14']

In [26]:
list(map(lambda x: f"{x:.2f} Q", ventas.ingresos))

['23613.32 Q',
 '16748.30 Q',
 '16584.38 Q',
 '18009.76 Q',
 '13189.51 Q',
 '18537.95 Q',
 '14553.07 Q',
 '18225.29 Q',
 '15930.66 Q',
 '18474.74 Q',
 '13554.47 Q',
 '16213.50 Q',
 '16111.15 Q',
 '17625.02 Q',
 '14968.22 Q',
 '18221.85 Q',
 '17230.24 Q',
 '18742.04 Q',
 '19083.66 Q',
 '17967.79 Q',
 '16673.10 Q',
 '16700.43 Q',
 '19398.68 Q',
 '17234.62 Q',
 '13452.55 Q',
 '20346.51 Q',
 '18741.43 Q',
 '13717.44 Q',
 '20271.95 Q',
 '12497.15 Q',
 '20064.80 Q',
 '17038.77 Q',
 '17034.18 Q',
 '16895.26 Q',
 '16259.55 Q',
 '17202.63 Q',
 '14356.71 Q',
 '17691.28 Q',
 '19099.44 Q',
 '19720.42 Q',
 '19295.55 Q',
 '18258.57 Q',
 '19640.58 Q',
 '13347.71 Q',
 '19273.18 Q',
 '15433.53 Q',
 '16795.54 Q',
 '19411.59 Q',
 '17661.09 Q',
 '16535.31 Q',
 '17089.48 Q',
 '19292.09 Q',
 '19794.82 Q',
 '17457.98 Q',
 '20600.72 Q',
 '18079.34 Q',
 '14783.69 Q',
 '15504.10 Q',
 '19721.02 Q',
 '10381.14 Q']

In [27]:
def formato(valor):

    return f"Q {round(valor,2)} M. N."

list(map(formato, ventas.ingresos))

['Q 23613.32 M. N.',
 'Q 16748.3 M. N.',
 'Q 16584.38 M. N.',
 'Q 18009.76 M. N.',
 'Q 13189.51 M. N.',
 'Q 18537.95 M. N.',
 'Q 14553.07 M. N.',
 'Q 18225.29 M. N.',
 'Q 15930.66 M. N.',
 'Q 18474.74 M. N.',
 'Q 13554.47 M. N.',
 'Q 16213.5 M. N.',
 'Q 16111.15 M. N.',
 'Q 17625.02 M. N.',
 'Q 14968.22 M. N.',
 'Q 18221.85 M. N.',
 'Q 17230.24 M. N.',
 'Q 18742.04 M. N.',
 'Q 19083.66 M. N.',
 'Q 17967.79 M. N.',
 'Q 16673.1 M. N.',
 'Q 16700.43 M. N.',
 'Q 19398.68 M. N.',
 'Q 17234.62 M. N.',
 'Q 13452.55 M. N.',
 'Q 20346.51 M. N.',
 'Q 18741.43 M. N.',
 'Q 13717.44 M. N.',
 'Q 20271.95 M. N.',
 'Q 12497.15 M. N.',
 'Q 20064.8 M. N.',
 'Q 17038.77 M. N.',
 'Q 17034.18 M. N.',
 'Q 16895.26 M. N.',
 'Q 16259.55 M. N.',
 'Q 17202.63 M. N.',
 'Q 14356.71 M. N.',
 'Q 17691.28 M. N.',
 'Q 19099.44 M. N.',
 'Q 19720.42 M. N.',
 'Q 19295.55 M. N.',
 'Q 18258.57 M. N.',
 'Q 19640.58 M. N.',
 'Q 13347.71 M. N.',
 'Q 19273.18 M. N.',
 'Q 15433.53 M. N.',
 'Q 16795.54 M. N.',
 'Q 19411.59 M. N.',
 'Q 17661.09 M. N.',
 'Q 16535.31 M. N.',
 'Q 17089.48 M. N.',
 'Q 19292.09 M. N.',
 'Q 19794.82 M. N.',
 'Q 17457.98 M. N.',
 'Q 20600.72 M. N.',
 'Q 18079.34 M. N.',
 'Q 14783.69 M. N.',
 'Q 15504.1 M. N.',
 'Q 19721.02 M. N.',
 'Q 10381.14 M. N.']

In [28]:
def formato(valor):

    return f"Q {valor:.3f}"

list(map(formato, ventas.ingresos))

['Q 23613.322',
 'Q 16748.303',
 'Q 16584.384',
 'Q 18009.756',
 'Q 13189.513',
 'Q 18537.954',
 'Q 14553.065',
 'Q 18225.295',
 'Q 15930.659',
 'Q 18474.736',
 'Q 13554.470',
 'Q 16213.504',
 'Q 16111.153',
 'Q 17625.024',
 'Q 14968.219',
 'Q 18221.849',
 'Q 17230.242',
 'Q 18742.043',
 'Q 19083.663',
 'Q 17967.794',
 'Q 16673.104',
 'Q 16700.427',
 'Q 19398.679',
 'Q 17234.619',
 'Q 13452.550',
 'Q 20346.509',
 'Q 18741.429',
 'Q 13717.436',
 'Q 20271.952',
 'Q 12497.146',
 'Q 20064.797',
 'Q 17038.768',
 'Q 17034.180',
 'Q 16895.261',
 'Q 16259.546',
 'Q 17202.625',
 'Q 14356.706',
 'Q 17691.285',
 'Q 19099.436',
 'Q 19720.421',
 'Q 19295.546',
 'Q 18258.569',
 'Q 19640.576',
 'Q 13347.715',
 'Q 19273.177',
 'Q 15433.528',
 'Q 16795.536',
 'Q 19411.592',
 'Q 17661.087',
 'Q 16535.309',
 'Q 17089.483',
 'Q 19292.091',
 'Q 19794.819',
 'Q 17457.984',
 'Q 20600.719',
 'Q 18079.341',
 'Q 14783.688',
 'Q 15504.096',
 'Q 19721.016',
 'Q 10381.139']